* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* font-size: 62.5%; */
    font-family: Helvetica, sans-serif;
    background-image: url(../images/chat_bg.jpg);
    background-attachment: fixed;
}

.container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.system-message {
    /* font-size: 2rem; */
    color: white;
    border-radius: 2rem;
    background-color: #262D31;
    opacity: 80%;
    padding: 1rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.chat-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    font-size: 1.3em;
}

.msg {
    color: white;
    position: relative;
    max-width: 50rem;
    max-height: auto;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

.text-content {
    /* font-size: 1.5rem; */
    word-wrap: break-word;
    /* min-height: 5rem; */
    border-radius: 2rem;
    max-width: 50rem;
    min-width: 6rem;
}

.author {
    /* font-size: 2.5rem; */
    word-wrap: break-word;
    /* min-height: 5rem; */
    border-radius: 2rem;
    max-width: 50rem;
    min-width: 6rem;
    color: rgb(107, 115, 235);
}

.msg-time {
    /* font-size: 1.7rem; */
    position: absolute;
    bottom: 2px;
    right: 13px;
    opacity: 70%;
}

.sent-msg {
    background-color: #056162;
    border-radius: 2rem;
    padding-right: 2rem;
    align-self: flex-end;
    padding-left: 2rem;
}

.received-msg {
    background-color: #262D31;
    border-radius: 2rem;
    padding-left: 2rem;
    align-self: flex-start;
    padding-right: 2rem;
}

/* subscribe styling */
.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
    padding: 10px 0px;
    background-color: rgb(138, 140, 255);
    font-size: 0.85em;
}

.header img {
    width: 30em;
}

.header form {
    display: flex;
    flex-flow: row nowrap;
    margin-right: auto;
    align-items: center;
}

.header form * {
    margin: 0 10px;
}

.header form input {
    height: fit-content;
    font-size: 1.4em;
    align-self: center;
}

.header form .submit {
    background-color: rgb(157, 104, 255);
    border: 0;
    border-radius: 0.5em;
    padding: 0.8em 1.4em;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.header form .submit:hover {
    transition: ease-out 0.5s;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1400px) {
    .header form {
        flex-flow: column nowrap;
        margin-left: 5%;
    }

    .header form * {
        margin: 10px;
    }
}