*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    color: #bebebe;
    background-color: black;
}

body{
    padding-bottom: 4rem;
}

.main-bg {
    background-image: url(../images/main.png);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


div.instructions{
    padding-top : 2rem;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
}

.instructions h2{
    font-size: 3.5rem;
    text-align: center;
    color: #bebebe;
}

hr{
    width:70rem;
    border: 2px solid #009A45;
    margin-left: auto;
    margin-right: auto;
}

.instructions p{
    font-size: x-large;
}

.button a{
    text-decoration: none;
    color: #bebebe;
}

.button{
    display: flex;
    justify-content: center;
}

.button a{
    font-size: x-large;
    text-align: center;
    width:20rem;
    height: 4rem;
    display:inline-block;
    padding:1rem;
    padding-bottom: 1rem;
    border-radius: 6rem;
    border: solid 2px #009A45; 
    opacity: 1;
    transition: 0.3s;
}

.button a:hover{
    border-color: white;
    color: #009A45;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.aboutus{
    margin-top: 4rem;
}

.aboutus h2{
    font-size: 3.5rem;
    text-align: center;
    height: 6rem;
}

.aboutus h3{
    margin-top: 1rem;
    font-size: x-large;
}

.aboutus-paragraph{
    width:80%;
    margin-right: auto;
    margin-left: auto;
}

.aboutus-paragraph h3{
    font-size: 2rem;
    height:4rem;
}

.aboutus-paragraph p{
    font-size: x-large;
}